.cart-page{
  h2{
    font-family: 'oswald';
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
  }
  h1{
    font-family: 'oswald';
    text-transform: uppercase;
    font-family: 3rem;

  }
  p{
    font-family: 'open-sans-regular';
  }
  .section1{
    position: relative;
    margin-top: $headerMin;
    z-index: 2;
    @include tablet{
      margin-top: $headerMax;
    };
    .imgStep{
      img{
        width: 100%;
        @include tablet{
          width: 300px;
        };
        @include desktop{
          width: 500px;
        };
      }
    }
    .actions{
      display: flex;
      flex-direction: column;
      @include tablet{
        flex-direction: row;
      };
      a{
        text-transform: uppercase;
        font-family: 'oswald';
      }
      &-left{
        flex: 1;
        display: flex;
        justify-content:center;
        align-items: center;
        @include tablet{
          justify-content:flex-start;
        }
        a{
          text-decoration: underline;
          &:hover{
            cursor: pointer;
          }
        }
      }
      &-right{
        flex: none;
        display: flex;
        justify-content:center;
        align-items: center;
        @include tablet{
          justify-content:flex-end;
        }
        a{
          border-radius: 10px;
          color: white;
          text-decoration: none;
          &:hover{
            cursor: pointer;
          }
        }
      }
      .precio{
        span{
          margin-left:5px;
          font-family: 'oswald';
          &.label{

          }
          &.moneda{

          }
          &.cantidad{

          }
          &.moneda{

          }
        }
      }
    }
    .items{
      &-wrap{

        position: relative;
        //border-bottom: 1px solid rgba(0,0,0,0.4);
        box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.3);
        margin-bottom: 15px;

        @include tablet{
          margin-bottom: 25px;
        };
        .close{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        }
        &.header{
          background-color: rgb(32,36,54);
          display: none;
          @include tablet{
            display: block;
          };
          .col{
            padding: 0px;
            margin: 0px;
            label{
              font-family: 'oswald';
              font-size: 1.2rem;
              color: white;
              text-transform: uppercase;
            }
          }
        }
        &-img{
          text-align: center;
          img{
              //width: 100%;
            @include tablet{
                width: 100%;
            };
          }
        }
        &-description{
          h3{
            font-family: 'oswald';
            font-size: 1rem;
            @include tablet{
              font-size: 0.8rem;
            };
            @include desktop{
              font-size: 1.2rem;
            };
          }
          h4{
            font-weight: 500;
            font-family: 'oswald';
            font-size: 0.9rem;
            @include tablet{
              font-size: 0.8rem;
            };
            @include desktop{
              font-size: 1.2rem;
            };
            .head{
              font-weight: 600;
              font-size: 1.1rem;
              @include tablet{
                font-size: 0.9rem;
              };
              @include desktop{
                font-size: 1.1rem;
              };
            }
          }
          .date-item{

            display: flex;
            flex-direction: row;
            align-items: center;

            label{

              font-family: 'oswald';

                width: 80px;

            }
            .react-flex{
              //flex: 1;
              max-width: 300px;
            }
          }
        }
        &-people{
          .field{
            display: flex;
            flex-direction: row;
            align-items: center;
            @include tablet{
              align-items:flex-start;
              flex-direction: column;
            };
            label{
              width:100px;
              font-family: 'open-sans-regular';
              font-size:1rem;
              font-weight: 600;
              &.trans{
                @include tablet{
                  display: none;
                };
              }
            }
            .Select{
              flex: 1;
              @include tablet{
                width: 100%;
                padding: 0px !important;
              };
              &-option{
                font-family: 'open-sans-regular';
              }
              &-value-label{
                font-family: 'open-sans-regular';
              }
            }
          };
        }
        &-price{
          display: flex;
          flex-direction: row;

          @include tablet-max{
            height: auto !important;
          };
          @include tablet{
            flex-direction: column;

          };
          .field{
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include tablet{
              align-items:flex-start;
              flex-direction: row;
              align-items: center;
            };
            .price{
              flex: 1;
              display: flex;
              flex-direction: row;
              font-size: 0.8rem;
              @include tablet{
                font-size: 1rem;
                align-items:flex-start;
                flex-direction: row;
              };
                font-family: 'open-sans-regular';
              .label{
                font-weight: 600;
                @include tablet{
                  display: none;
                };
              }
            }
          }
        }
        &-subtotal{
          display: flex;
          flex-direction: row;

          @include tablet-max{
            height: auto !important;
          };
          @include tablet{
            flex-direction: column;

          };
          .field{
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include tablet{
              align-items:flex-start;
              flex-direction: row;
              align-items: center;
            };
            .price{

              flex: 1;
              display: flex;
              flex-direction: row;
              font-size: 1rem;
              font-weight: 700;
              @include tablet{
                font-size: 1rem;
                align-items:flex-start;
                flex-direction: row;
              };
                font-family: 'open-sans-regular';
              .label{
                font-weight: 600;
                @include tablet{
                  display: none;
                };
              }
            }
          }
        }
        .datefieldsNoMovil{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          .date-item{
          flex: 1;
          label{
            width:100px;
            font-family: 'open-sans-regular';
            font-size:1rem;
            font-weight: 600;
            &.trans{
              @include tablet{
                display: none;
              };
            }
          }
          .Select{
            flex: 1;
            @include tablet{
              width: 100%;
              padding: 0px !important;
            };
            &-option{
              font-family: 'open-sans-regular';
            }
            &-value-label{
              font-family: 'open-sans-regular';
            }
          }
        }
        }



        .modalTransUpdated{
          height: 0%;
          width: 100%;
          position: absolute;
          bottom: 0px;
          left: 0px;
          background-color: rgba(0,0,0,0.5);
          transition: all 0.3s ease-in;
          overflow: hidden;
          &.active{
            height: 100%;
          }
          &-close{
            position: relative;
            width: 100%;
            height: auto;
            background-color: #202436;
            @include clearfix;
            .shapes{
              float: right;
            }
            label{
              font-family: 'oswald';
            }
          }
          &-wrapItems{
            position: relative;
            width: 100%;
            height: 90%;

            display: flex;
            flex-direction: column;
            //align-items: center;
            @include tablet{
              flex-direction: row;
              justify-content: center;
            };
            &-item{
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              transition: all 0.5s ease-out;
              background-color: rgba(0,0,0,0.9);
              &:hover{
                cursor: pointer;
                background-color: white;
                color: black;
              }
              h3{
                margin: 0px;
                font-family: 'oswald';
              }
              h4{
                margin: 0px;
                font-family: 'oswald';
              }
              button{
                -webkit-appearance: none;
                  padding: 10px 20px;
                  background-color: #F76b46;
                  color: white;
                  font-family: 'oswald';
                  border-width: 0px;
                  border-radius: 3px;
                  &:hover{
                    cursor: pointer;
                  }
              }
            }
          }
        }



      }
    }



  }
  .search{
    height: auto;
    &.havetransitems{
      height: 0px;
      overflow: hidden;
      padding: 0px;
    }
    .Select-control{
      border-color: #ffffff #fff #ffffff !important;
      border: 1px solid #fff !important;
    }
    &-wrap{
      flex-direction: column;
      background-color: #333333;
      @include tablet{
        flex-direction: row;
      };
      .label{
        font-family: 'oswald';
      }
    }
  }
  .sectionItems{
    height: auto;
    &.havetransitems{
      height: 0px;
      overflow: hidden;
      padding: 0px;
    }
    background-image: url('/img/bg-slides-items.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 40px 0.75rem;
    padding-bottom: 20px;
    @include tablet{
      background-size: 100% 100%;
    }
    h2{
      color: white;
      margin-bottom: 0px;
      padding: 0 0.75rem;
    }
    .wrapResults{
      display: flex;
      flex-direction: column-reverse;
      margin-top: 5px;
      @include tablet{
        flex-direction: row;
      };
          .list-items{

            &-wrap{
              flex: 1;
                position: relative;
                left: 0px;
                top: 0px;
                transition: left 0.3s ease-out;
                @include tablet-max{
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                };

                .item{
                  width: 290px;
                  height: 290px;
                  //border: 1px solid black;
                  box-sizing: border-box;
                  position: relative;
                  //@extend .red;
                  float: left;
                  @include tablet{
                    width: 290px;
                    height: 290px;
                  };
                  &-image{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto 100%;
                    z-index: 0;
                    img{
                      height: 100%;
                    }
                  }
                  &-details{
                    z-index: 1;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    &-offer{
                      flex: 1;

                      display: flex;
                      justify-content: flex-end;
                      align-items: flex-start;
                      label{
                        color: white;
                        padding: 10px 15px;
                        font-family: 'oswald';
                        background-color: #ff6600;
                        word-break: break-all;
                      }
                    }
                    &-description{
                      flex: 2;
                      display: flex;
                      flex-direction: column;
                      justify-content: flex-end;
                      align-items: flex-start;
                      padding-bottom: 10px;
                      padding-left: 5px;
                      h3{
                        color: white;
                        font-family: 'open-sans-regular';
                        font-size: 14px;
                        font-weight: 700;
                      }
                      a{
                        padding: 5px 10px;
                        border: 2px dotted white;
                        color : white;
                        text-decoration: none;
                        font-family: 'oswald';
                        font-size: 0.9rem;
                        cursor: pointer;
                        transition: all 0.3s ease-in;
                        background-color: rgba(0,0,0,0.3);
                        &:hover{
                          background-color: #ff6600;
                          border-color: rgab(0,0,0,0.1);
                        }
                      }
                    }
                  }
                }
            }

          }



      &-categories{
        //flex: 1;
        padding: 0px 10px;
        justify-content: flex-start;
        align-content: flex-start;
        width: 300px;
        @include tablet-max{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        };
        @include tablet{
          width: 400px;
          padding: 0px 20px;
        };
        @include desktop{
          padding: 0px 30px;
        };
        strong{
            font-weight: 800;
            font-family: 'Open Sans', sans-serif;
        }
        .categories{
          background-color: rgba(24,29,43,0.5);
          width: 300px;
          width: 100%;
          @include tablet{
            width: 100%;
          };
          @include desktop{
            width: 80%;
          };
          p{
            font-family: 'Open Sans', sans-serif;
          }
          h3{
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;

          }
          ul{
            li{
              font-family: 'Open Sans', sans-serif;
              list-style: none;
              margin: 10px 5px;
              a{
                text-decoration: none;
              }
            }
          }

        }
      }
    }
  }
  .espacio{
    &.havetransitems{
      padding: 0px !important;
    }
  }
  .transferSection{
    background-image: url('/img/bg-transfer.jpg');
    background-size: 100%;
    //@extend .red;
    //background-color: rgba(255,255,255,1);
    &-image{
      position: relative;
      text-align: center;
      img{
        position: relative;
        width: 300px;
        @include tablet{
            position: relative;
            top: -40px;
            right: 0px;
        };
      }
    }
    &-engine{
      h3{
        text-transform: uppercase;
        @extend .white-text;
        span{
          font-weight: 700;
        }
      }
    }
  }

  .price{
      flex: 1;
      display: flex;
      flex-direction: column;
      &-tag{
        flex: 1;
        font-family: 'oswald';
        font-size: 0.9rem;
      }
      &-price{
        flex: 1;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.9rem;
        &-icon{
          font-family: 'oswald';
        }
        &-cant{
          font-size: 1.5rem;
          font-family: 'oswald';
        }
        &-money{
          font-size: 0.8rem;
          font-family: 'oswald';
        }
      }
      &-icons{

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        img{
          margin:0px 5px;
        }
      }
  }

  .FormTourEngine{
    padding: 10px;
    margin-bottom: 20px;

    &.movil{

      padding: 0px;
      margin-bottom: 0px;
      transition: all 0.3s ease-out;
      &.active{

        padding: 10px;
        margin-bottom: 20px;
      }
    }
    &-select{
      display: flex;
      flex-direction: column;
      //align-items: center;
      //justify-content: center;
      label{
        font-family: 'oswald';
        font-size: 1rem;
          color: white;
        @include tablet{

        };
      }
      .Select{
        &-control{

        }
        &-option{
          color: rgba(0,0,0,0.7);
          font-family: 'oswald';
        }
        &-placeholder{
          color: rgba(0,0,0,0.7);
          font-family: 'oswald';
        }
        &-value{
          color: rgba(0,0,0,0.7);
          font-family: 'oswald';
        }
        &-submit{
          margin-top: 20px;
          color: white;
          text-decoration: none;
          font-family: 'oswald';
          padding: 5px 10px;
          background-color: $naranja-diseno;
          text-align: center;
        }
      }
    }
  }

    .react-flex{

        font-family: 'oswald' !important;
        padding: 5px 5px;
        box-sizing: border-box;
        background-color:white;
        border-color: black;



        &-item{
          color: $gris-texto;
        }
        .react-flex.react-date-field__picker{

          @include tablet-max{
            position: fixed !important;
            top: 0 !important;
            bottom: 0 !important;
            left: 0 !important;
            right: 0 !important;
            width: 300 !important;
          };
        }
        .react-date-picker__month-view-cell{
          color: $gris-texto;
        }
        .react-date-picker__month-view-day--disabled{
          color: gray;
        }
        .react-date-picker__month-view-day--active{
          background-color: $naranja-diseno;
          .react-date-picker__month-view-day-text{
            border-width: 0;
            background: $naranja-diseno;
          }

        }
        .react-date-picker__month-view-day--this-month{
          .react-date-picker__month-view-day-text{

            &:hover{
              color: $negro;
            }
          }

        }
        .react-date-picker__month-view-day--next-month{
          @extend .react-date-picker__month-view-day--this-month;
        }

        .react-date-field__calendar-icon{
          background:  $gris-texto;
          border: 2px solid $gris-texto;
        }
        input{
          width: 100%;
          color: black;
          font-family: 'oswald';
          font-size: 1rem;
          background-color: white;
        }
    }




}
