.category-page{
  h2{
    font-family: 'oswald';
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
  }
  h1{
    font-family: 'oswald';
    text-transform: uppercase;
    font-family: 3rem;

  }
  p{
    font-family: 'open-sans-regular';
  }

.category{
  margin-top: $headerMin;
  z-index: 2;
  @include tablet{
    margin-top: $headerMax;
  };
  .search{
    height: auto;
    &.havetransitems{
      height: 0px;
      overflow: hidden;
      padding: 0px;
    }
    .Select{
      @include tablet{
        width: 400px;
      };
      &-placeholder{
        font-family: 'oswald';
      }
      &-value{
        font-family: 'oswald';
      }
      &-option{
        font-family: 'oswald';
      }
      &-control{
        border-color: #ffffff #fff #ffffff !important;
        border: 1px solid #fff !important;
        @include tablet{
          width: 400px !important;
        };
      }
    }
    &-wrap{
      flex-direction: column;
      @include tablet{
        flex-direction: row;
      };
      .label{
        font-family: 'oswald';
      }
    }

  }
  .description{
    position: relative;
    &-slide{
      img{
        //max-width:1024px;
      }
    }
    &-text{
      transition: all 0.3s ease-out;
      @include desktop{
        position: absolute;
        left: 20px;
        top: 0%;
        width: 500px !important;
        //height: 500px;
      };
      h1{
        letter-spacing: 1px;

        font-weight: 400;
        @include tablet{
          font-size:  4rem !important;
        };
      }
      h2{

        .subtitle{
          font-weight: 100;
        }
        @include tablet{
          font-size:  4rem !important;
        };
      }
      p{
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
  .sectionItems{
    height: auto;
    &.havetransitems{
      height: 0px;
      overflow: hidden;
      padding: 0px;
    }
    padding: 40px 0.75rem;
    padding-bottom: 20px;
    @include tablet{
      background-size: 100% 100%;
    }
    h2{
      color: white;
      margin-bottom: 0px;
      padding: 0 0.75rem;
    }
    .wrapResults{
      //display: flex;
      //flex-direction: column-reverse;
      margin-top: 5px;
      @include tablet{
        //flex-direction: row;
      };

                .item{
                  width: 290px;
                  height: 290px;
                  //border: 1px solid black;
                  box-sizing: border-box;
                  position: relative;
                  //@extend .red;
                  float: left;
                  transition: all 0.5s ease-out;
                  @include tablet{
                    width: 290px;
                    height: 290px;
                  };
                  &-image{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto 100%;
                    z-index: 0;
                    img{
                      height: 100%;
                    }
                  }
                  &-details{
                    z-index: 1;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    &-offer{
                      flex: 1;

                      display: flex;
                      justify-content: flex-end;
                      align-items: flex-start;
                      label{
                        color: white;
                        padding: 10px 15px;
                        font-family: 'oswald';
                        background-color: #ff6600;
                        word-break: break-all;
                      }
                    }
                    &-description{
                      flex: 2;
                      display: flex;
                      flex-direction: column;
                      justify-content: flex-end;
                      align-items: flex-start;
                      padding-bottom: 10px;
                      padding-left: 5px;
                      h3{
                        color: white;
                        font-family: 'open-sans-regular';
                        font-size: 14px;
                        font-weight: 700;
                      }
                      a{
                        padding: 5px 10px;
                        border: 2px dotted white;
                        color : white;
                        text-decoration: none;
                        font-family: 'oswald';
                        font-size: 0.9rem;
                        cursor: pointer;
                        transition: all 0.3s ease-in;
                        background-color: rgba(0,0,0,0.3);
                        &:hover{
                          background-color: #ff6600;
                          border-color: rgab(0,0,0,0.1);
                        }
                      }
                    }
                  }
                }






      &-categories{
        //flex: 1;
        padding: 0px 10px;
        justify-content: flex-start;
        align-content: flex-start;
        width: 300px;
        @include tablet-max{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        };
        @include tablet{
          width: 400px;
          padding: 0px 20px;
        };
        @include desktop{
          padding: 0px 30px;
        };
        strong{
            font-weight: 800;
            font-family: 'Open Sans', sans-serif;
        }
        .categories{
          background-color: rgba(24,29,43,0.5);
          width: 300px;
          width: 100%;
          @include tablet{
            width: 100%;
          };
          @include desktop{
            width: 80%;
          };
          p{
            font-family: 'Open Sans', sans-serif;
          }
          h3{
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;

          }
          ul{
            li{
              font-family: 'Open Sans', sans-serif;
              list-style: none;
              margin: 10px 5px;
              a{
                text-decoration: none;
              }
            }
          }

        }
      }
    }
  }



}
  .espacio{
    &.havetransitems{
      padding: 0px !important;
    }
  }


    .react-flex{
        font-family: 'oswald' !important;
        padding: 5px 5px;
        box-sizing: border-box;
        background-color:$colorBackgroundform;
        border-color: $blanco;

        &-item{
          color: $blanco;
        }
        .react-date-picker__month-view-cell{
          color: $blanco;
        }
        .react-date-picker__month-view-day--disabled{
          color: gray;
        }
        .react-date-picker__month-view-day--active{
          background-color: $naranja-diseno;
          .react-date-picker__month-view-day-text{
            border-width: 0;
            background: $naranja-diseno;
          }

        }
        .react-date-picker__month-view-day--this-month{
          .react-date-picker__month-view-day-text{

            &:hover{
              color: $negro;
            }
          }

        }
        .react-date-picker__month-view-day--next-month{
          @extend .react-date-picker__month-view-day--this-month;
        }

        .react-date-field__calendar-icon{
          background:  $blanco;
          border: 2px solid $blanco;
        }
        input{
          width: 100%;
          color: black;
          font-family: 'oswald';
          font-size: 1rem;
          background-color: white;
        }
    }

}
