.checkout-page{
  .section1{
    position: relative;
    margin-top: $headerMin;
    z-index: 2;
    @include tablet{
      margin-top: $headerMax;
    };
    .imgStep{
      img{
        width: 100%;
        @include tablet{
          width: 300px;
        };
        @include desktop{
          width: 500px;
        };
      }
    }

    .items-header{
      &-label{
        h3{
          font-family: 'oswald';
          color: $azul-fuerte-diseno;
          font-size: 1.2rem;
          margin: 0px;
          text-transform: uppercase;
        }
      }
    }
    .items{
      .itemTrans{
        font-family: 'oswald';
        h3{
          margin: 0px;
          padding: 0px;
          font-size: 0.7rem;
          @include tablet{
            font-size: 0.7rem;
          };
          @include desktop{
            font-size: 0.9rem;
          };
        }
        h4{
          margin: 0px;
          padding: 0px;
          font-size: 0.6rem;

          @include tablet{
            font-size: 0.6rem;
          };
          @include desktop{
            font-size: 0.8rem;
          };
        }
        .material-icons{
          transition: all 0.3s ease-in;
          &:hover{
            cursor: pointer;
            @extend .red-text.text-accent-4;
          }
        }
      }
      &-price{
        position: relative;
        .precio{
          position: relative;
          right: 0px;
          text-align: right;
          font-family: 'oswald';
          span{
            margin-right: 5px;
          }
        }
      }
    }
  }
  .header{
    &-title{
      padding: 10px 5px;
      margin: 0px;
      font-family: 'oswald';
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
  .socialConnectionsSections{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .facebook{
      -webkit-appearance: button;
      border-width: 0px;
      font-family: 'oswald';
      display: flex;
      font-size: 1.1rem;
      margin-right: 20px;
      i{
        margin: 5px;
      }
    }
    #singOut-button{
      -webkit-border-radius: 1px;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;
    -webkit-appearance: none;
    background-color: #fff;
    @extend .azulFuerteDiseno;
    background-image: none;
    color: #262626;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    border-width: 0px;
    font-family: 'oswald';
    font-size: 1rem;
    @extend .naranjaDiseno-text;
    //text-transform: uppercase;

    }
  }


}
