.compare_component{
  position: fixed;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  //background: red;
  z-index: 100;
  border-left: 2px solid white;
  box-sizing: border-box;
  overflow: scroll;
  transition: all 0.3s ease-in;
  h2{
    font-family: 'oswald';
  }
  &.active{
    width: 300px;
    padding: 10px 10px;
  }
  .sectionClose{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(white,0.3);
    .icon{
      cursor: pointer;
      display: none;
      &.show{
        display: block;
      }
    }
  }
  .openCompare{
    position: fixed;
    top: $headerMin;
    right: 16px;
    display: none;
    align-items: center;
    cursor: pointer;
    transition: display 0.5s ease-out;
    border: 1px dotted $azul-fuerte-background;
    @include desktop-max{
      right: calc(50% - (1600px / 2));
    }
    @include desktop{
      top: $headerMax;
    };
    &.show{
      display: flex;
    }
    i{
      color: white;
    }

  }
  .itemCompare{
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
    margin-bottom: 15px;
    i{
      position: absolute;
      right: 0px;
      color: $naranja-diseno-fuerte;
      top: 0px;
      cursor: pointer;
      &:hover{
        background-color: white;
      }
    }
    img{
      width: 80%;
      margin-left: 10%;
    }
    h2{
      box-sizing: border-box;
      width: 100%;
      margin: 0px;
      margin-left: 0%;
      padding: 2px 5px;
      color: $naranja-diseno-fuerte;
    }
    p{
      box-sizing: border-box;
      width: 100%;
      margin-left: 0%;
      padding: 2px 5px;
      font-size:15px;
      font-family: "Open Sans";
      margin-top: 3px;
      text-align: justify;
      color: white;
    }
    a{
      padding: 2px 5px;
      color: white;
      text-decoration: none;
      font-family: 'oswald';
      border: 2px dotted white;
      text-transform: uppercase;
      box-sizing: border-box;
    }
  }

}
