.Search{
  //@extend .red;
  height: 0px;
  //height: auto;
  border-radius: 3px;
  //padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  position: relative;
  width:300px;
  top: 100%;
  right : 0px;
  position: absolute;
  @include tablet{
    right : 0px;
    width:300px;
  };
  @include desktop{
    position: absolute;
  };
  &.active{
    height: auto;
    padding: 5px;
    overflow: visible;
    z-index: 10;
  }

  .Select{
    @include tablet{
      //width: 400px;
    };
    &-placeholder{
      font-family: 'oswald';
    }
    &-value{
      font-family: 'oswald';
    }
    &-option{
      font-family: 'oswald';
    }
    &-input{
      font-family: 'oswald';
    }
    &-control{
      border-color: #acacac #acacacf #acacac !important;
      border: 1px solid #acacac !important;
      @include tablet{
        //width: 400px !important;
      };
    }
  }

}
