.tour-page{
  h2{
    font-family: 'oswald';
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
  }
  h1{
    font-family: 'oswald';
    text-transform: uppercase;
    font-family: 3rem;

  }
  h3{
    font-family: 'oswald';
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
  }
  h4{
    font-family: 'oswald';
    text-transform: uppercase;
    font-family: 3rem;

  }
  h5{
    margin: 0px;
    font-family: 'oswald';
    text-transform: uppercase;
    font-family: 3rem;

  }
  p{
    font-family: 'open-sans-regular';
  }
  .section1{
    position: relative;
    margin-top: 0px;
    z-index: 2;

    @include desktop{
      margin-top: $headerMax;
    };
    &-slide{
      display: none;
      @include desktop{
        display: block;
      };
      img{
        //max-width:1024px;
      }
    }

    &-gallery{

      @include desktop{
        //position: absolute;
        left: 0px;
        bottom: 5%;
        width: 100% !important;
        box-sizing: border-box;
            margin-left: 0 !important;
      };
      .galeria{
        overflow: hidden;
        position: relative;
        //border: 1px solid $naranja-diseno;
        &-controls{
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          //background: red;
          z-index: 2;
          &-left{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 30px;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            z-index: 1;
            .back{
              transition: all 0.3s ease-out;
              &:hover{
                background-color: rgba(255,255,255,0.5);
                border-right-color: black;
              }
            }
          }
          &-right{
            position: absolute;
            top: 0px;
            right: 0px;
            width: 30px;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .next{
              transition: all 0.3s ease-out;
              &:hover{
                background-color: rgba(255,255,255,0.5);
                border-left-color: black;
              }
            }
            z-index: 1;
          }
        }
        &-wrap{
          position: absolute;
          top: 0px;
          transition: all 0.5s ease-out;
          display: flex;
          flex-direction: row;
          align-items: center;
          //background-color: rgba(0,0,0,0.7);
          @extend .azulFuerteBackground;
          @include tablet{
            position: relative;
          };
          video{
            position: absolute;
          }
          img{
            position: absolute;
          }
        }

        //viewer
        .viewer{
          overflow: hidden;
          height: 0%;
          width: 100%;
          position: fixed;
          bottom: 0px;
          left: 0px;
          //background-color: rgba(0,0,0,0.8);
          z-index: 20;
          transition: all 0.5s ease-out;
          &.active{
            height: 100%;
          }  
            .control{
              &-before{
                position: absolute;
                //background-color: red;
                // width: 50px;
                // height: 50px;
                top: calc(50% - 25px);
                left: 0px;
                z-index: 2;
              }
              &-after{
                position: absolute;
                //background-color: red;
                // width: 50px;
                // height: 50px;
                top: calc(50% - 25px);
                right: 0px;
                z-index: 2;
              }
            }
            .wrap-image{
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0px;
              right: 0px;
              display: flex;
              justify-content: center;
              align-items: center;
              iframe{
                position: relative;
                width: 80%;
                height: 100%;
              }
              img{
                position: relative;
                width: 80%;
                max-width: 800px;
              }
              a{
                img{
                  position: relative;
                  width: 80%;
                  margin-left: 10%;
                }
              }
              .background-viewer{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                right: 0px;
                background-color: rgba(0,0,0,0.7);
              }
            }



        }

      }
    }
    &-text{
      //background-color: #003333;
      transition: all 0.3s ease-out;
      @include desktop{
        position: absolute;
        right: 0px;
        bottom: 0%;
        width: 30% !important;

      };
      h1,h3,h4,h5{
        margin: 0px;
        font-family: 'open-sans-regular';
      }



      .book-wrap{
        display: flex;
        flex-direction: column;
        background-color: #161c2b;

        @include tablet{
          flex-direction: row;
          justify-content: flex-end;
          background-color: transparent;
        };
        &.movil{
          position: fixed;
          bottom : 0px;
          left: 0px;
          width: 100%;
          height: auto;
          overflow: hidden;
        }
        .book{
          padding: 5px 20px;
          color: white;
          font-family: 'oswald';
          text-transform: uppercase;
          background-color: $naranja-diseno;

          @include tablet{
            cursor: pointer;
            margin-right: 20px;
            border-radius: 5px 5px 0px 0px;
            box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 0.3);
          };
        }
      }
      .tour{
          display: flex;
          flex-direction: column-reverse;
          @include tablet{
            flex-direction: row;

          };
          &-content{
            background-color: rgba(#161c2b,0.9);
            flex: 2;
            margin: 0px;
            h3{ color: $naranja-diseno; }
            h5{color: rgba(255,255,255,0.7);}
            p{ font-size:0.9rem;}

          }
          &-book{
            flex: 1;
            background-color: rgba(#161c2b,1);
            @include tablet{
              position: relative;
            };
            @include desktop{
              background-color: rgba(#161c2b,0.6);
            };
            &-price{
              display: flex;
              flex-direction: row;
              .header{
                font-size: 1rem;
                text-transform: uppercase;
                span{

                }

              }
            }
            &-engine{
              display: none;
              @include tablet{
                display: flex;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 0%;
                background-color: rgba(0,0,0,0.85);
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease-out;
                overflow: hidden;
                &.active{
                  height: 100%;
                  overflow: visible;
                }
              };
            }
          }
      }
    }
  }

  .tour{
      display: flex;
      flex-direction: column-reverse;
      @include tablet{
        flex-direction: row;

      };
      &-content{
        background-color: rgba(#161c2b,0.9);
        flex: 2;
        margin: 0px;
        h3{
           color: $naranja-diseno;

         }
        h5{color: rgba(255,255,255,0.7);}
        p{ font-size:0.9rem;}

      }
      &-book{
        flex: 1;
        background-color: rgba(#161c2b,1);
        @include tablet{
          position: relative;
        };
        &-price{
          display: flex;
          flex-direction: row;
          &.link-more{
            @include tablet-max{
              display: none;
            };
          }
        }
        &-engine{
          display: none;
          @include tablet{
            display: flex;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 0%;
            background-color: rgba(0,0,0,0.85);
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-out;
            overflow: hidden;
            &.active{
              height: 100%;
              overflow: visible;
            }
          };
        }
      }
  }




  .search{
    height: auto;
    &.havetransitems{
      height: 0px;
      overflow: hidden;
      padding: 0px;
    }
    .Select{
      @include tablet{
        width: 400px;
      };
      &-placeholder{
        font-family: 'oswald';
      }
      &-value{
        font-family: 'oswald';
      }
      &-option{
        font-family: 'oswald';
      }
      &-control{
        border-color: #ffffff #fff #ffffff !important;
        border: 1px solid #fff !important;
        @include tablet{
          width: 400px !important;
        };
      }
    }
    &-wrap{
      flex-direction: column;
      //background-color: #333333;
      @include tablet{
        flex-direction: row;
      };
      .label{
        font-family: 'oswald';
      }
    }
  }
  .sectionItems{
    height: auto;
    &.havetransitems{
      height: 0px;
      overflow: hidden;
      padding: 0px;
    }
    background-image: url('/img/bg-slides-items.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding: 40px 0.75rem;
    padding-bottom: 20px;
    @include tablet{
      background-size: 100% 100%;
    }
    h2{
      color: white;
      margin-bottom: 0px;
      padding: 0 0.75rem;
    }
    .wrapResults{
      display: flex;
      flex-direction: column-reverse;
      margin-top: 5px;
      @include tablet{
        flex-direction: row;
      };
          .list-items{

            &-wrap{
              flex: 1;
                position: relative;
                left: 0px;
                top: 0px;
                transition: left 0.3s ease-out;
                @include tablet-max{
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                };

                .item{
                  width: 290px;
                  height: 290px;
                  //border: 1px solid black;
                  box-sizing: border-box;
                  position: relative;
                  //@extend .red;
                  float: left;
                  @include tablet{
                    width: 290px;
                    height: 290px;
                  };
                  &-image{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto 100%;
                    z-index: 0;
                    img{
                      height: 100%;
                    }
                  }
                  &-details{
                    z-index: 1;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    &-offer{
                      flex: 1;

                      display: flex;
                      justify-content: flex-end;
                      align-items: flex-start;
                      label{
                        color: white;
                        padding: 10px 15px;
                        font-family: 'oswald';
                        background-color: #ff6600;
                        word-break: break-all;
                      }
                    }
                    &-description{
                      flex: 2;
                      display: flex;
                      flex-direction: column;
                      justify-content: flex-end;
                      align-items: flex-start;
                      padding-bottom: 10px;
                      padding-left: 5px;
                      h3{
                        color: white;
                        font-family: 'open-sans-regular';
                        font-size: 14px;
                        font-weight: 700;
                      }
                      a{
                        padding: 5px 10px;
                        border: 2px dotted white;
                        color : white;
                        text-decoration: none;
                        font-family: 'oswald';
                        font-size: 0.9rem;
                        cursor: pointer;
                        transition: all 0.3s ease-in;
                        background-color: rgba(0,0,0,0.3);
                        &:hover{
                          background-color: #ff6600;
                          border-color: rgab(0,0,0,0.1);
                        }
                      }
                    }
                  }
                }
            }

          }



      &-categories{
        //flex: 1;
        padding: 0px 10px;
        justify-content: flex-start;
        align-content: flex-start;
        width: 300px;
        @include tablet-max{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        };
        @include tablet{
          width: 400px;
          padding: 0px 20px;
        };
        @include desktop{
          padding: 0px 30px;
        };
        strong{
            font-weight: 800;
            font-family: 'Open Sans', sans-serif;
        }
        .categories{
          background-color: rgba(24,29,43,0.5);
          width: 300px;
          width: 100%;
          @include tablet{
            width: 100%;
          };
          @include desktop{
            width: 80%;
          };
          p{
            font-family: 'Open Sans', sans-serif;
          }
          h3{
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;

          }
          ul{
            li{
              font-family: 'Open Sans', sans-serif;
              list-style: none;
              margin: 10px 5px;
              a{
                text-decoration: none;
              }
            }
          }

        }
      }
    }
  }
  .espacio{
    &.havetransitems{
      padding: 0px !important;
    }
  }
  .transferSection{
    background-image: url('/img/bg-transfer.jpg');
    background-size: 100%;
    //@extend .red;
    //background-color: rgba(255,255,255,1);
    &-image{
      position: relative;
      text-align: center;
      img{
        position: relative;
        width: 300px;
        @include tablet{
            position: relative;
            top: -40px;
            right: 0px;
        };
      }
    }
    &-engine{
      h3{
        text-transform: uppercase;
        @extend .white-text;
        span{
          font-weight: 700;
        }
      }
    }
  }

  .price{
      flex: 1;
      display: flex;
      flex-direction: column;
      &-tag{
        flex: 1;
        font-family: 'oswald';
        font-size: 0.9rem;
      }
      &-price{
        flex: 1;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.9rem;
        &-icon{
          font-family: 'oswald';
        }
        &-cant{
          font-size: 1.5rem;
          font-family: 'oswald';
        }
        &-money{
          font-size: 0.8rem;
          font-family: 'oswald';
        }
      }
      &-icons{

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        img{
          margin:0px 5px;
        }
      }
  }

  .FormTourEngine{
    padding: 10px;
    margin-bottom: 20px;

    &.movil{

      padding: 0px;
      margin-bottom: 0px;
      transition: all 0.3s ease-out;
      &.active{

        padding: 10px;
        margin-bottom: 20px;
      }
    }
    &-select{
      display: flex;
      flex-direction: column;
      //align-items: center;
      //justify-content: center;
      label{
        font-family: 'oswald';
        font-size: 1rem;
          color: white;
        @include tablet{

        };
      }
      .Select{
        &-control{

        }
        &-option{
          color: rgba(0,0,0,0.7);
          font-family: 'oswald';
        }
        &-placeholder{
          color: rgba(0,0,0,0.7);
          font-family: 'oswald';
        }
        &-value{
          color: rgba(0,0,0,0.7);
          font-family: 'oswald';
        }
        &-submit{
          margin-top: 20px;
          color: white;
          text-decoration: none;
          font-family: 'oswald';
          padding: 5px 10px;
          background-color: $naranja-diseno;
          text-align: center;
        }
      }
    }
  }

    .react-flex{

        font-family: 'oswald' !important;
        padding: 5px 5px;
        box-sizing: border-box;
        background-color:$colorBackgroundform;
        border-color: $blanco;



        &-item{
          color: $blanco;
        }
        .react-date-picker__month-view-cell{
          color: $blanco;
        }
        .react-date-picker__month-view-day--disabled{
          color: gray;
        }
        .react-date-picker__month-view-day--active{
          background-color: $naranja-diseno;
          .react-date-picker__month-view-day-text{
            border-width: 0;
            background: $naranja-diseno;
          }

        }
        .react-date-picker__month-view-day--this-month{
          .react-date-picker__month-view-day-text{

            &:hover{
              color: $negro;
            }
          }

        }
        .react-date-picker__month-view-day--next-month{
          @extend .react-date-picker__month-view-day--this-month;
        }

        .react-date-field__calendar-icon{
          background:  $blanco;
          border: 2px solid $blanco;
        }
        input{
          width: 100%;
          color: black;
          font-family: 'oswald';
          font-size: 1rem;
          background-color: white;
        }
    }

    .galleryWrap{
      margin-top: $headerMin;
      @include tablet{
        margin-top: $headerMax;
      };
      @include desktop{
        margin-top: 0px;
      };
    }


}
