@import "variables";// se cargan primero las variable de toda la aplicacion
@import "colors";
@import "mixins";// se crean ls mixin a usar en toda la aplicacion
@import "grid";// se declara la estructura grid a usar
//@import "shapes";
//@import "forms";
//@import "helpers";
//@import "headerComponent";
//@import "footer";
//@import "index";
//@import "tour";
//@import "cart";
//@import "category";
//@import "_gallerySection";
//@import "transportation";
//@import "checkout";
//@import '../node_modules/react-image-gallery/styles/scss/image-gallery.scss';
//@import "../node_modules/react-date-picker/style/index.scss";
//@import "customGallery";
@import "SearchComponent";

body{
  margin: 0px;
  background-color: white;
}
#app-wrap{
  max-width: 1600px;
  position: relative;
  width: 100%;
  height: 100%;
  //background-color: green;
  @include desktop-max{
    margin-left: calc((100% - (1600px))/2);
  };
}

@include desktop-ivert{
  #header{
    height: $headerMin;
  }
};
@include desktop{
  #header{
    height: $headerMax;
  }
};

// .icon{
//   width: 50px;
//   height: 50px;
//   &.burger{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items:center;
//     padding: 5px;
//     box-sizing: border-box;
//     transition: all 0.5s ease-in;
//     .square{
//       width: 80%;
//       flex: 1;
//       margin-top: 4px;
//       margin-bottom: 4px;
//     }
//     &.open{
//       position: relative;
//       padding: 0px;
//       .square{
//         width: 100%;
//         flex: 1;
//         justify-content: center;
//         align-items: center;
//         position: absolute;
//         width: 4px;
//         height: 4px;
//         margin-top: 0px;
//         margin-bottom: 0px;
//         transition: all 0.5s ease-in;
//         &.item1{
//           width: 80%;
//           transform: rotate(50deg);
//         }
//         &.item2{
//           display: none;
//           transform: rotate(-50deg);
//         }
//         &.item3{
//           width: 80%;
//           transform: rotate(-50deg);
//         }
//       }
//     }
//   }
//   &.triangle{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items:center;
//     padding: 10px;
//     box-sizing: border-box;
//     .square{
//       width: 70%;
//       flex: 1;
//       margin-top: 6px;
//       margin-bottom: 6px;
//       @include tablet{
//         width: 80%;
//         margin-top: 5px;
//         margin-bottom: 5px;
//       };
//       &.item1{
//         transform: rotate(-50deg);
//       }
//       &.item2{
//         transform: rotate(50deg);
//       }
//     }
//
//   }
// }

//se sobreescribe la clase
.react-date-field > .react-date-field__picker {
    left: initial;
    right: 0px !important;
}
.FormTourEngine.movil.active  .react-date-field {
  transition: all 0.3s ease-out;
}
.FormTourEngine.movil.active  .react-date-field > .react-date-field__picker {
  @include tablet-max{
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 100000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.image-gallery{
  margin-top: $headerMin;
  @include desktop{
    margin-top: $headerMax;
  };
}




/* NOTE : only for header of thomas more travel  */
body {
    background: none !important;
}
#header_links{
  margin: 0px !important;
}
.wrap-img{

}
#header {
  height: auto;
    padding: 5px 0 0 0 !important;
    margin-bottom: 0px !important;
    img{
      &.img{
        width: auto;

        &-responsive{
          width: 100%;
        }
      }
    }
}
.wrap-nav{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( #4094dc,#00467f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #4094dc,#00467f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #4094dc,#00467f); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #4094dc,#00467f); /* Standard syntax */
  ul#navegacion{
    margin: 0px !important;
    padding: 5px 2px;
    display: flex;
    justify-content: center;
    li{
      position: relative;
      list-style: none;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}
